# whitelist instead of blacklist
# that way COPY is properly cached which is useful when dev/testing the dockerfile

# BEGIN .gitignore
DebugLib/
DebugExe/
DebugExt/

ReleaseLib/
ReleaseExe/
ReleaseExt/

_TEST/
lib/abc*
lib/m114*
lib/bip*
docs/

src/ext*
src/xxx/
src/aig/au/
src/aig/ssm/
src/aig/ddb/

*~
*.orig

*.[od]

*.ncb
*.opt
*.plg

*.zip

abcspaceext.dsw
abcext.dsp

abcexe.vcproj*
abclib.vcproj*
abcspace.sln
abcspace.suo

*.pyc

src/python/build
src/python/bdist
src/python/pyabc.py
src/python/pyabc_wrap.*

.idea/
build/

*.rej
*.orig

tags

/libabc.a
/abc

/arch_flags

/cscope
# END .gitignore

# Allow files and folders with a pattern starting with !
!build/abc-*.deb
!tests/deb
!src/demo.c